* {
    font-family: 'Helvetica';
    text-align: center;
    font-weight: bold;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 23px;
}

p {
    font-size: 14px;
    font-weight: normal;
}

a {
    color: white;
    font-size: 18px;
}

.section-titles {
    background-image: url("../images/the-flatiron-building.png");
    color: white;
}

.header-link {
    display: flex;
    flex-direction: column;
}

.info-title {
    font-size: 23px;
}

.footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    /* color: gray; */
    /* padding: -5px; */
    /* background-image: url("../images/808080.png"); */
    /* background-repeat: repeat; */
}

.footer-link {
    font-weight: normal;
    font-size: 11px;
    background-color: gray;
    background-repeat: repeat-x;
    width: 100%;
}