* {
    font-family: 'Helvetica';
    text-align: center;
}

.section-titles {
    background-image: url("../images/the-flatiron-building.png");
    color: white;
}

.header-link {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.footer {
    font-weight: bold;
}