* {
    font-family: 'Helvetica';
    text-align: center;
    color: white;
}

.flatiron-background {
    background-image: url("../images/the-flatiron-building.png");
}

.footer {
    font-weight: bold;
}